/*FOR THE TITLE*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

/*FOR THE INPUT*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/*FOR THE PLAY BTN*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/*FOR THE GREETING*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  justify-content: center;
  box-shadow: 41px 41px 100px #523232, -41px -41px 100px #ffcaca;
  justify-content: center;
}

.morph {
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17),
    1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
}

.active,
.morph:focus {
  border: 2px solid #fafafa;
  outline: none;
  box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12),
    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07),
    1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.input {
  padding: 1rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.reset{
    width: 80px;
    height:30px;
    font-size:20px;
}

.greeting{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    font-stretch: expanded;
}

.play {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Style Script', cursive;
}

.play:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.play:active {
    color: #000
}

.play:active:after {
    background: transparent;
}

.play:hover:before {
    opacity: 1;
}

.play:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
